doctype html
html
  head
    title Saurabh's Dance Academy
    block scripts
    block style 
  body
    nav#navbar
            ul
                div#logo
                    img(src="../static/logo.png", alt="image is not loaded", height="50px",width="50px" )
                   
                li #[a(href="/") Home] 
                li #[a(href="/") About] 
                li #[a(href="/") Services] 
                li #[a(href="/") Class Info] 
                li #[a(href="/contact") Contact Us] 
    block content
    footer#footer 
            | Copyright © 2021 SaurabhDanceAcademy.com | All rights  reserved

    